.container{

width:min(1200px,90%);

margin:auto;

}

.flex{

display:flex;

}

.grid{

display:grid;

}

.center{

display:flex;

justify-content:center;

align-items:center;

}

.space-between{

display:flex;

justify-content:space-between;

align-items:center;

}